
/* Start-TopPage */
#show_bg_2 {
    background-image:
    linear-gradient(to bottom right, rgba(28, 34, 59, 0.52) 25%, rgba(0, 0, 0, 0)),
    url('../images/page-top.svg');
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: bottom;
    color: white;
    border-bottom: solid 5px rgb(50, 50, 50);
    background-color: darkgray;
    margin-top: -100px;
  }
  .page-top {
    position: relative;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-top a {
    font-size: 14px; font-weight:500;
  }
  .bottom-left {
    position: absolute;
    /* bottom: 120px; */
    /* left: 200px; */
    color: #fff;
    display: grid;
    /* justify-items: start; */
  }
  .bottom-left h1 {
    font-size: 36px;
  }
  .bottom-left a {
    font-size: 14px; 
    font-weight:500;
  }
  /* End-TopPage */
  
  
  
  /* Start-Programs */
  .programs {
    border-bottom: solid 3px rgba(23, 24, 23, 0.3);
    box-shadow: 0px 5px 10px 0px #aaa;
  }
  
  .pm-gr {
    display: flex;
    /* justify-content: space-around;
    gap: 20px; */
  }
  
  .program-item {
    background-color: #ffffff75;
    border-right: 1px solid rgba(23, 24, 23, 0.2);
    padding: 10px;
    display: grid;
    cursor: default;
    margin-left: auto;
    float: left;
    width: 25%;
  }
  
  .pm-item {
    cursor: pointer;
    color: #000;
    font-weight: 500;
  }
  
  .left {
    clear: both;
  }
  
  .program-item:hover {
    
    background-color: rgb(139, 0, 0);
    color: #fff !important;
  }
  .program-item:hover .pm-item{
    
    background-color: rgb(139, 0, 0);
    color: #fff !important;
  }
  .pg-text:hover{
    
    background-color: rgb(139, 0, 0);
    color: #fff !important;
  }
  /* End-Programs */
  
  
  
/* Start-Activities */

.activites {
  padding-top: 50px;
  padding-bottom: 50px;  
  background-color: rgba(68, 68, 68, 0.2);
}

.ac-items {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #fff; */
  flex-wrap: nowrap;
}

.ac-item {
  background-color: #fff;
  padding: 10px;
  cursor: default;
  float: left;
  width: 400px;
  justify-items: center;
  display: inline-grid;
  justify-items: start;
  align-content: space-between;
}

.ac-item p {
  font-weight: 600;
}

.ac-left-item {
  clear: both;
}

.ac-img {
  width: 400px;
  height: 250px;
}

.ac-top {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  text-transform: uppercase;
  color: rgba(39, 39, 39, 0.7);
}

.ac-href {
  color: #cc6a20;
  cursor: pointer;
  text-decoration: none;
}

.ac-name {
  color: #32a9ef;
  cursor: default;
  text-decoration: none;
  font-weight: 800;
}

#ac-item-right {
  align-content: center;
}
/* End-Activities */


/* Start-Post-Sayac */
.sayac *{
  box-sizing: border-box;
}
.sayac {
  margin-bottom: 50px;
  padding-bottom: 50px;
  background-color: rgba(68, 68, 68, 0.2);
}
.sayac-col {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.post-sayac {
  margin: 0 0px;
}

.post-sayac::after{
  content: "";
  display: table;
  clear: both;
}

.sayac-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}
.sayac-card .fa {
  font-size:50px;
}
/* End-Post-Sayac */




/* Start-Slider-Post */
.slider-post {
  background-color: #aaa;
  width: 100%;
  height: 600px;
}
/* End-Slider-Post */




@media (max-width: 600px) {
  .sayac-col {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  
}


@media (max-width: 768px) {
  .pg-bt-item2 {
      flex-wrap: wrap;
      flex-direction: column;
  }
  .bottom-left {
      left: 20;
  }
  .bottom-left h1{
      font-size: 32px;
  }
  .ac-items {
      flex-wrap: wrap;
  }
  .pg-img {
      max-height: 300px;
      height: 100%;
  }
}
